<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
    <body>
        
        <div id="contenedor">

            <label for="file-upload" class="custom-file-upload">
                Ingrese su factura
            </label>
            <input id="file-upload" type="file"/>

        </div>
          
    </body>
</html>

