<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

</head>
    <body>
        
        <div id="contenedor">

            <label for="file-upload" class="custom-file-upload">
                <span class="material-symbols-outlined" style="color: rgb(162, 255, 162); font-size: 2vw;" *ngIf="status">
                    done
                </span>
                <span class="material-symbols-outlined" style="font-size: 2vw;" *ngIf="!status">
                    pending
                </span>
                {{mensaje}}
            </label>
            <input id="file-upload" type="file" multiple (change)="uploadBills($event)"/>

            <div id="actions">
                <button  style="background-color: rgb(81, 178, 81);" (click)="sendBills()" *ngIf="status">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
                <button  style="background-color: rgb(255, 85, 85);" mat-dialog-close>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </div>

        </div>
          
    </body>
</html>

