<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>

	<div id="contenedor">

		<div id="header">

			<img width="5%" src="./../../../assets/img/BLUE OCEAN.png" alt="">

			<button id="notificaciones">
				<span class="material-symbols-outlined">
					notifications
				</span>
			</button>

		</div>

		<div id="tabs">

			<div class="opciones" (click)="mostrarReportes()">

                <span class="material-symbols-outlined">
                    overview
                </span>

                Reportes
            </div>

			<div class="opciones" (click)="mostrarUsuarios()" *ngIf="defaultProfile.rol == 'contador'">

                <span class="material-symbols-outlined">
                    group
                </span>

                Usuarios
            </div>

			<div class="opciones" (click)="mostrarFacturas()">

                <span class="material-symbols-outlined">
                    receipt_long
                </span>

                Facturas
            </div>

			<div class="opciones" (click)="mostrarPending()" *ngIf="defaultProfile.rol != 'usuario'">

                <span class="material-symbols-outlined">
                    pending_actions
                </span>

                Facturas Pendientes
            </div>

			<div class="opciones" (click)="mostrarListaContadores()" *ngIf="defaultProfile.rol == 'usuario'">

                <span class="material-symbols-outlined">
                    supervisor_account
                </span>

                Agregar contador
            </div>

			<div class="opciones" (click)="profile()">

                <span class="material-symbols-outlined">
                    person
                </span>

                {{defaultProfile.username}}
            </div>
	
		</div>

		<!-- PAGINA REPORTES  -->

		<div class="contenido" *ngIf="reportes_view">

			<div class="filtros">
				<!-- USERNAME -->
				<div class="filtro" *ngIf="defaultProfile.rol == 'contador'">
					<select [(ngModel)]="username_Filter">
						<option value="" selectedn disabled>Username</option>
						<option value="" >All</option>
						<option *ngFor="let user of listUsers" [value]="user.id_usuario">{{user.username}}</option>
					</select>
				</div>
	
				<!-- DATE -->
				<div class="filtro">
					<input type="date" [(ngModel)]="date_start">
				</div>

				<div class="filtro">
					<input type="date" [(ngModel)]="date_finish">
				</div>

				<div class="filtro">
					<button  style="background-color: rgb(81, 178, 81);" (click)="showReportes()">Search</button>
				</div>

				<div class="filtro">
					<button style="background-color: rgb(144, 136, 209);" (click)="addReport()" *ngIf="defaultProfile.rol == 'contador'">Agregar</button>
				</div>

				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
			</div>

			<div class="lista">

				<div id="reportes" *ngFor="let item of reportes">

					<div id="reporte">

						<p>
							<b>Username:</b> {{item.username}}
						</p>

						<p>
							<b>Fecha:</b> {{item.fecha}}
						</p>

						<p>
							<b>Nota:</b> {{item.mensaje}}
						</p>

					</div>

					<div id="acciones">

						<!-- BORRAR REPORTE -->
						<button style="background-color: #dc3545; width: 30%;" (click)="deleteReport(item.id_reporte)" *ngIf="defaultProfile.rol == 'contador'">
							<span class="material-symbols-outlined">
								delete
							</span>
						</button>

						<!-- VER REPORTE -->
						<a href="{{reportePath + item.archivo}}" target="_blank" style="background-color: #48b8ce; width: 30%;">
							<span class="material-symbols-outlined">
								visibility
							</span>
						</a>

					</div>

				</div>



            </div>

		</div>

		<!-- PAGINA PARA LISTAR USUARIOS -->

		<div class="contenido" *ngIf="usuarios_view">

			<div class="filtros">
        
				<!-- USERNAME -->
				<div class="filtro">
					<select [(ngModel)]="username_Filter">
						<option value="" selectedn disabled>Username</option>
						<option value="" >All</option>
						<option *ngFor="let user of usuarios" [value]="user.id_usuario">{{user.username}}</option>
					</select>
                </div>
	
				<!-- email -->
				<div class="filtro">
					<select [(ngModel)]="email">
						<option value="" selectedn disabled>Email</option>
						<option value="" >All</option>
						<option *ngFor="let user of usuarios" [value]="user.email">{{user.email}}</option>
					</select>
                </div>

				<!-- MIN - MAX (FACTURAS) -->
				<div class="filtro">
                    <input type="number" placeholder="Min - Facturas" [(ngModel)]="facturas_min">
                </div>

				<div class="filtro">
                    <input type="number" placeholder="Max - Facturas" [(ngModel)]="facturas_max">
                </div>
				
				<!-- MIN - MAX (TOTAL) -->
				<div class="filtro">
                    <input type="number" placeholder="Min - Total" [(ngModel)]="total_min">
                </div>

				<div class="filtro">
                    <input type="number" placeholder="Max - Total" [(ngModel)]="total_max">
                </div>
	
				<!-- ORDER BY -->
				<div class="filtro">
					<select [(ngModel)]="orderBy">
						<option [value]="" selected disabled >Order By</option>
						<option value="">All</option>
						<option value="Facturas">Facturas</option>
						<option value="Total">Total</option>
					</select>
				</div>
	
				<!-- ORDER -->
				<div class="filtro">
					<select [(ngModel)]="order">
						<option [value]="" selected disabled >Order</option>
						<option value="DESC">Descend</option>
						<option value="ASC">Ascend</option>
					</select>
				</div>

				<div class="filtro">
					<button  style="background-color: rgb(81, 178, 81);" (click)="showUsers()">Search</button>
				</div>
	
			</div>

			<div class="lista">
				
				<div id="usuario" *ngFor="let user of usuarios">

					<div id="avatar">
						<div id="temp">
							<img src="{{imagePath + user.avatar}}" width="100%" style="overflow: hidden; border-radius: 50%;" *ngIf="user.avatar != null">
						</div>
					</div>

					<div id="dataUsuarios">
						<p>
                            <b>Nombre:</b> {{user.username}}
                        </p>
                        <p>
                            <b>Email:</b> {{user.email}}
                        </p>
                        <p>
                            <b>No.Facturas:</b> {{user.facturas}}
                        </p>
						<p>
							<b>Total Gastado:</b> Q.{{user.total}}
						</p>
					</div>

					<div id="acciones">
						<button style="background-color: #dc3545; width: 30%;" (click)="removeClient(user.id_usuario)">
							<span class="material-symbols-outlined">
								delete
							</span>
						</button>
					</div>

				</div>

			</div>

		</div>

		<!-- PAGINA PARA LISTAR LAS FACTURAS -->

		<div class="contenido" *ngIf="facturas_view">

			<div class="filtros">
    
                <!-- USERNAME -->
				<div class="filtro" *ngIf="defaultProfile.rol == 'contador'">
					<select [(ngModel)]="username_Filter">
						<option value="" selectedn disabled>Username</option>
						<option value="" >All</option>
						<option *ngFor="let user of listUsers" [value]="user.id_usuario">{{user.username}}</option>
					</select>
                </div>
    
                <!-- DATE -->
				<div class="filtro">
                    <input type="date" [(ngModel)]="date_start">
                </div>

				<div class="filtro">
                    <input type="date" [(ngModel)]="date_finish">
                </div>

                <!-- MIN - MAX -->
				<div class="filtro">
                    <input type="number" placeholder="Min" [(ngModel)]="min">
                </div>

				<div class="filtro">
                    <input type="number" placeholder="Max" [(ngModel)]="max">
                </div>
    
                <!-- COMPANIE -->
				<div class="filtro">
					<select [(ngModel)]="nit_emisor">
						<option value="" selected disabled>Emisor</option>
						<option value="" >All</option>
						<option *ngFor="let empresa of empresas" [value]="empresa.nit">{{empresa.nombre}}</option>
					</select>
				</div>
    
                <!-- ORDER -->
				<div class="filtro">
					<select [(ngModel)]="order">
						<option [value]="" selected disabled >Order</option>
						<option value="Descend">Descend</option>
						<option value="Ascend">Ascend</option>
					</select>
				</div>

				<div class="filtro">
					<button  style="background-color: rgb(81, 178, 81);" (click)="showBills()">Search</button>
				</div>

				<div class="filtro">
					<button style="background-color: rgb(144, 136, 209);" (click)="addBill()">Agregar</button>
				</div>
    
            </div>

            <div class="lista">

				<div id="facturas" *ngFor="let item of facturas">

					<div id="dataFacturas">

						<p>
							<b>Username:</b> {{item.username}} 
						</p>

						<p>
							<b>DTE:</b> {{item.dte}} - <b>Serie:</b> {{item.serie}}
						</p>

						<p>
							<b>Fecha:</b> {{item.fecha_emision}}
						</p>

						<p>
							<b>Emisor:</b> {{item.nit_emisor}}
						</p>

					</div>

					<div id="monto">
						<p>
							Q.{{item.monto}}
						</p>
					</div>

					<div id="acciones">
						<button style="background-color: #dc3545; width: 30%;" (click)="deleteBill(item.dte.toString(), item.serie)">
							<span class="material-symbols-outlined">
								delete
							</span>
						</button>

						<a href="{{documentPath + item.imagen}}" target="_blank" style="background-color: #48b8ce; width: 30%;" download *ngIf="item.imagen != ''">
							<span class="material-symbols-outlined">
								visibility
							</span>
						</a>

						<a href="{{documentPath + item.pdf}}" target="_blank" style="background-color: #48b8ce; width: 30%;" download *ngIf="item.imagen == ''">
							<span class="material-symbols-outlined">
								visibility
							</span>
						</a>

					</div>

				</div>

            </div>

		</div>

		<!-- FACTURAS PENDIENTES -->
		<div class="contenido" *ngIf="pending_view">

			<div class="filtros">
    
				<!-- USERNAME -->
				<div class="filtro" *ngIf="defaultProfile.rol == 'contador'">
					<select [(ngModel)]="username_Filter">
						<option value="" selectedn disabled>Username</option>
						<option value="" >All</option>
						<option *ngFor="let user of listUsers" [value]="user.id_usuario">{{user.username}}</option>
					</select>
				</div>
	
				<!-- DATE -->
				<div class="filtro">
					<input type="date" [(ngModel)]="date_start">
				</div>

				<div class="filtro">
					<input type="date" [(ngModel)]="date_finish">
				</div>

				<div class="filtro">
					<button  style="background-color: rgb(81, 178, 81);" (click)="showPending()">Search</button>
				</div>

				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>
				<div class="filtro" style="visibility: hidden;"></div>


			</div>

			<div class="lista">

				<div id="facturas" *ngFor="let item of facturas_pendientes">

					<div id="dataFacturas">

						<p *ngIf="defaultProfile.rol == 'contador'">
							<b>Username:</b> {{item.username}} 
						</p>

						<p>
							<b>Fecha:</b> {{item.fecha_emision}}
						</p>

					</div>

					<div id="monto">

					</div>

					<div id="acciones">
						<button style="background-color: rgb(81, 178, 81); width: 30%;" (click)="addPending(item.imagen, item.pdf, item.id_usuario, item.username, item.id_factura)" *ngIf="defaultProfile.rol == 'contador'">
							<span class="material-symbols-outlined">
								add
							</span>
						</button>

						<button style="background-color: #dc3545; width: 30%;" (click)="deleteBill(item.dte.toString(), item.serie)">
							<span class="material-symbols-outlined">
								delete
							</span>
						</button>

						<a href="{{documentPath + item.imagen}}" target="_blank" style="background-color: #48b8ce; width: 30%;" download *ngIf="item.imagen != ''">
							<span class="material-symbols-outlined">
								visibility
							</span>
						</a>

						<a href="{{documentPath + item.pdf}}" target="_blank" style="background-color: #48b8ce; width: 30%;" download *ngIf="item.imagen == ''">
							<span class="material-symbols-outlined">
								visibility
							</span>
						</a>

					</div>

				</div>

            </div>

		</div>

	</div>

</body>
</html>