input{
    width: 50%;
    height: 15%;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    font-size: 1.5vw;
    color: rgb(95, 95, 95);
    font-family: 'Roboto', sans-serif;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px dashed #48b8ce;
    cursor: pointer;
}

button{
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5vw;
}

button:hover{
    opacity: 80%;
    cursor: pointer;
}

#padre{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar{
    width: 100%;
    height: 30%;
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C1C1C1;
    border-radius: 50%;
}

#info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.label{
    width: 50%;
    height: 15%;
    display: flex;
    align-items: center;
}

#actions{
    width: 100%;
    height: 20%;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}