<div id="padre">
    <div id="hijoHeader">
        <div class="header">
            <div id="avatar">

            </div>
        </div>
        <div class="header">
            <img id="logo" src="../../../../../assets/img/BLUE OCEAN.png" alt="">
        </div>
        <div class="header">

        </div>
    </div>
    <div id="hijo1">

        <div id="titulo" class="secciones" (click)="home()">
            <div class="icono">
                <img src="../../../../../assets/img/BLUE OCEAN.png" alt="" width="80%">
            </div>
            <div class="texto">
                <h1 id="finance">FINANCE</h1>
            </div>
        </div>

        <div class="secciones" style="background-color: #D9D9D9" (click)="openMenu()">
            <div class="icono">
                <img src="../../../../../assets/img/icons/person.png" alt="" width="80%">
            </div>
            <div class="texto">
                <h1>Users</h1>
            </div>
        </div>

        <div class="secciones" (click)="openOtherMenu()">
            <div class="icono">
                <img src="../../../../../assets/img/icons/invoice.png" alt="" width="70%">
            </div>
            <div class="texto">
                <h1>Bills</h1>
            </div>
        </div>

        <div class="secciones" id="footer">
            <div class="icono">
                <div id="avatar">

                </div>
            </div>
            <div class="texto">
                <h1 id="username">{{userSession}}</h1>
            </div>
        </div>

    </div>
    <div id="hijo2">
        <div class="opciones" (click)="listUsers()">
            <img src="../../../../../../assets/img/icons/checklist.png" width="60%">
        </div>
        <div class="opciones">
            <img src="../../../../../../assets/img/icons/plus.png" width="50%">
        </div>
    </div>
</div>