<div id="padre">
    <div id="formulario">
        <input type="number" name="dte" placeholder="DTE" [(ngModel)]="dte">

        <input type="text" name="serie" placeholder="Serie" [(ngModel)]="serie">

        <select name="nit_emisor" [(ngModel)]="nit_emisor">
            <option value="" selected disabled>Emisor</option>
            <option *ngFor="let empresa of empresas" [value]="empresa.nit">{{empresa.nombre_empresa}}</option>
        </select>

        <input type="number" name="monto" placeholder="Total" [(ngModel)]="monto">

        <input type="date" name="fecha_emision" placeholder="Date" [(ngModel)]="fecha_emision">

        <select name="username" [(ngModel)]="username" *ngIf="userRol == 'contador'">
            <option value="" selected disabled>Username</option>
            <option *ngFor="let user of usuariosFilter" [value]="user">{{user}}</option>
        </select>

    </div>
    <div id="submit">
        <button (click)="addBill()">Submit</button>
    </div>
</div>