<div id="padre">
    <div id="hijo2">
        <img id="logo" src="../../../../assets/img/BLUE OCEAN.png" alt="">
        <form>

            <!-- Nombre y apellido -->
            <div class="campos" id="userInfo">
                <input type="text" name="name" placeholder="Name" [(ngModel)]="name" class="info">
                <input type="text" name="last_name" placeholder="Last Name" [(ngModel)]="last_name" class="info" id="second">
            </div>

            <!-- Email -->
            <div class="campos">
                <input type="email" name ="email" [(ngModel)]="email" placeholder="Email">
            </div>

            <!-- Password -->
            <div class="campos">
                <input type="password" name ="password" [(ngModel)]="password" placeholder="Password">
            </div>

            <!-- Username -->
            <div class="campos">
                <input type="text" name ="password_check" [(ngModel)]="username" placeholder="Username">
            </div>

            <div id="contenedor-btn">
                <button type="button" class="btn" (click)="continue()">Continue</button>
            </div>
        </form>
    </div>
    <div id="hijo1">
        <div id="rectangulo">
            <div id="contenedor-titulo">
                <h1 id="titulo">
                    FINANCE
                </h1>
            </div>
            <div id="contenedor-descripcion">
                <h2 id="descripcion">
                    Create a free Finance account and start counting every penny.
                </h2>
            </div> 
            <mat-icon style="color: white;">keyboard_arrow_down</mat-icon>
        </div>
    </div>
</div>