#padre{
    width: 100%;
    height: 100%;
}

#titulo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

#formulario{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#submit{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}